@import url('https://fonts.googleapis.com/css2?family=Glory:wght@600&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'Glory', sans-serif;	
}
main{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
}
a{
	margin: 5%;
	padding: 15px 30px;
	font-size: 24px;
	color: #000;
	border-radius: 20px;
	background-color: #11c3f0;
	transition: .23s linear;
	box-shadow: 5px 5px 5px rgba(0,0,0,.5);
}
a:hover{
	background-color: #04b2de;
	box-shadow: 2px 2px 5px rgba(0,0,0,.5),
			inset 3px 3px 10px rgba(0,0,0,.3);
}