@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
	font-family:'Poppins', sans-serif;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	overflow-y: hidden;
}
main{
	background: #0080ff;
	height: 100%;
	width: 100%;
	background-image: radial-gradient(#003566,#00284d,#001a33);
	background-size: cover;
	overflow-y: hidden;
	/*background-repeat: no-repeat;*/
}
main::before{
	content: '';
	position: absolute;
	top: -20%;
	right: 0;
	width: 40vw;
	height: 40vw;
	border-radius: 50%;
	background: linear-gradient(rgb(20, 0, 51),rgb(0, 155, 175));
	animation: mover 25s linear infinite ;
/*	clip-path: circle(25% at 70% 25%);
	animation: rodacao 2s linear infinite;*/
}
main::after{
	content: '';
	position: absolute;
	top: 75%;
	left: 0;
	width: 25vw;
	height: 25vw;
	border-radius: 50%;
	background: linear-gradient(rgb(0, 255, 203) 1%,rgb(76, 0, 255) 70%);
	animation: mover 15s linear infinite reverse;
}

@keyframes mover{
	to{
		top: 100%;
	}
	from{
		top: -50%;
	}

}

.windows{
	position: relative;
	display: flex;
	height: 100vh;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 1;
}
.painel{
	width: 35vw;
	color: rgba(255, 255, 255, 0.6);
	max-width: 500px;
	max-height: 500px;
	min-width: 370px;
	/*height: 90vh;*//*tirar depois*/
	border-top: solid 1px rgba(255,255, 255, 0.5);
	border-left: solid 1px rgba(255,255, 255, 0.5);
	border-radius: 15px;
	box-shadow: 10px 13px 5px -2px rgba(0, 0, 0, 0.5);
	background-color: rgba(255, 255, 255,0.15);
	backdrop-filter: blur(10px);
	/*padding: 5%;*/
}
.titulo{
	position: relative;
	color:rgba(255, 255, 255, 0.8);
	display: inline-block;
	margin-top: 5%;
	margin-left: 10%;
} 
.titulo::after{
	content:'';
	position: absolute;
	/*top: 110px;*//*é para ficar de baixo da linha*/
	left: 0;
	width: 15%;
	height: 0.2em;
	background-color: rgba(255, 255, 255, 0.8);
}
.empty{
	margin-bottom: 15%;
}
.caixas{
	width: 100%;
	font-size: 16px;
}
.largura{
	width: 50%;
	margin:auto;
}
.nameuser{
	font-weight: 500;
	font-size: 16px;
}
input{
	font-size: 0.95rem;
	/*padding: 1px 6px 1px 6px;*/
	width: 100%;
	color: #fff;
	font-weight: 100;
}
input:focus{
	outline: none;
}
.e{/*space*/
	/*margin-left: 31%;*/
	margin-bottom: 5%;
	font-size: 14px;
}
.e .remember{
	margin-bottom: 20%;
}
.e input[type="checkbox" i]{

	margin-left: 5px;
	width: 13px;
	
}
.e span{
	color: #fff;
}
.l input{
	height: 0;
	transition:all 500ms linear;
	overflow: hidden;
	border: none;
	border-bottom: solid black 2px;
	background-color: transparent;
}
.l input:focus, .l:hover input{
	height: 28px;
	padding: 0 5px;
	border-color: #0080ff;
}
.s{/*submit*/
	text-align: center;
}
.s input{
	font-weight: 500;
	padding: 3px 0px 3px 0px;
	width: 150px;
	margin-bottom: 20%;
	border-radius: 20px;
	border: 2px solid rgba(0, 0, 0, 0.2);
	background-color: rgba(0, 89, 255);
	transition: 0.5s;
}
.s input:hover{
	border-color:rgba(0, 0, 0, 0.1);
	background-color: rgba(0, 56, 161);
}
.s input:active{
	background-color: rgb(51, 122, 255);
}