@import url('https://fonts.googleapis.com/css2?family=Glory:wght@600&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'Glory', sans-serif;	
}
.cabeca{
	position: relative;
	background-image: url('https://wallpapercave.com/wp/wp4676576.jpg');
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 40vh;
}
.cabeca::before{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(55, 55, 55, 0.7);
	z-index: 10;
}
.navbar{
	position: absolute;
	left: 0;
	top: 0;
	width: 100vw;
	z-index: 100;
}
.opcao{
	display: flex;
	justify-content: flex-end;
	list-style: none;
	width: 100%;
	padding-right: 10px;
	filter: invert(1);
}
.opcao li{
	text-align: center;
	margin: 20px 10px;
}
.opcao li img{
	width: 30px;
}
.corpo{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
}
.corpo .conteudo{
	width: 80%;
}
.corpo .pesquisa{
	width: 100%;
	margin-top: 20px;
	padding: 15px;
	border-radius: 10px;

	border: 2px solid #ccc;
}
.corpo .conteudo .link{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	/*align-items: center;*/
	width: 100%;
	/*background-color: red;*/
}
.corpo .conteudo .link a{
	position: relative;
}

.corpo .conteudo .link a::before{
	position: absolute;
	content:'';
	width: 100%;
	height: 100%;
	inset: 0;
	background-color: rgba(255, 255, 255, 0);
}
.corpo .conteudo .link a:hover::before{
	background-color: rgba(255, 255, 255, 0.3);
}
/*.corpo .conteudo .link a:hover{
	width: 300px;
	height: 300px;
}*/
.corpo .conteudo .link a:hover iframe{
	width: 300px;
	max-width: 100%;
	height: 250px;
}
.corpo .conteudo .link a iframe{
	/*position: relative;
	z-index: -1;*/
	width: 100%;
	max-width: 250px;
	height: 100vw;
	max-height: 250px;
	overflow-y: hidden;
}


/*main .links a{
	margin: 5%;
	padding: 15px;
	font-size: 24px;
	color: #000;
	border-radius: 20px;
	background-color: #11c3f0;
	transition: .15s linear;
	box-shadow: 5px 5px 5px rgba(0,0,0,.5);
}
 main .links a:hover{
	background-color: #04b2de;
	box-shadow: 2px 2px 5px rgba(0,0,0,.5),
			inset 3px 3px 10px rgba(0,0,0,.3);
}*/