@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: poppins, sans-serif !important;
}
.corpo{
	min-width: 100vw;
	min-height: 100vh;
	overflow-x: hidden;
	background-image: linear-gradient(140deg,#00ff00,#00ff99,#00cccc);
}
.formulario{
	display: flex;
	height: 100vh;
	align-items: center;
	justify-content: center;
}
.formulario .conteudo{
	background-color: #00000099;
	width: 500px;
	padding: 25px;
	padding-left: 30px;
	padding-right: 30px;
	border-radius: 20px;
	box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);
}.formulario .conteudo form{
	color: #fff;
	font-size: 1em;
}
.formulario .conteudo form input, select{
	height: 30px;
	font-size: 0.98em;
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: transparent;
	color: #fff;
	border: 0;
	border-bottom: 1px solid #fff;
	transition: 0.5s;
	padding: 2px;
}
.formulario .conteudo form input{
	
	color: #cccccc;
	/*height: 0;*/
}
.formulario .conteudo form input:focus, select:focus{outline: 0;}
.formulario .conteudo form select option{color: #000;}
.formulario .conteudo form input[type="submit" i]{
	display: block;
	margin: auto;
	margin-top: 20px;
	width: 200px;
	height: 40px;
	font-size: 1.2em;
	font-weight: 700;
	color: #fff;
	background-image: linear-gradient(to bottom right, #006666, #009900);
	border: 0;
	border-radius: 10px;
	transition: 0.5s;
}
.formulario .conteudo form input[type="submit" i]:hover{
	background-image: linear-gradient(to top left, #006666, #009900);
}
input[type="text" i],input[type="password" i],input[type="email" i], select{
	margin-bottom: 20px;
	width: 100%;
}
.formulario .conteudo form .sexo{font-size: 1.2em;}
.dn{width: 165px;
}
input[type="date" i]{
	margin-left: 6px;
	width: calc(100% - 180px);
	margin-right: 1%;
	min-height: 25px;
	border-radius: 0;
}
input[type="date" i]::-webkit-calendar-picker-indicator{
	filter: invert(50%);
}
.formulario .conteudo form .campusNormal{
	position: relative;
	margin-top: 10px;
	margin-bottom: 10px;
}
.formulario .conteudo form .campusNormal label{
	position: absolute;
	top: 0;
	transition: .5s;
}
.formulario .conteudo form .campusNormal input:focus ~ label,.formulario .conteudo form .campusNormal input:valid ~ label{
	top: -15px;
	font-size: 0.7em;
	color: #1ad1ff;
}

.sexo-radio{
	display: flex;
	align-items: center;
}.sexo-radio label{
	padding-right: 10px;
	padding-left: 5px;
}
.sexo-radio input[type="radio" i]{
	margin-left: 10px;
}